<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- App Header -->
    <header class="header">
      <div class="header_logo">
        <h1><span  class="header_logo_span_a">AfriJob</span><span class="header_logo_span_b">Market</span></h1>
      </div>
      <div class="header_links">
        <div>
          <ul class="header_items_links">
            <li class="header_link_item">
              <a href="#">Home</a>
            </li>
            <li class="header_link_item">
              <a href="#">Jobs</a>
            </li>
            <li class="header_link_item">
              <a href="#">Support</a>
            </li>
            <li class="header_link_item">
              <a href="#">Login</a>
            </li>
            <li class="header_link_item">
              <a href="#">Signup</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>
</html>
